////////////////////////////////////////////////
//LOGO

.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

////////////////////////////////////////////////
//SEARCH
.search {
  flex: 0 0 40%;

  display: flex; // this makes an items as a container
  justify-content: center;
  align-items: center;

  &-input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: var(--color-grey-light-2);
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &:--webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &-input:focus + &-button {
    background-color: var(--color-grey-light-3);
  }
  &-button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &-icon {
    height: 2rem;
    width: 2rem;

    fill: var(--color-grey-dark-3);
  }
}

////////////////////////////////////////////////
//USER NAVIGATION
.user-nav {
  display: flex;
  align-items: center;

  align-self: stretch; // just to be aligned self

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    // if we set height to 100% problem arise is that all the icon placed to top
    // if we want to fix this need to set the icon box as a flex
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &_icon-box {
    display: flex;
    // justify-content: center;
    align-items: center;
    // margin: 0 0.75rem;
    // padding: 0 0.5rem;
    position: relative;
  }
  &_icon {
    height: 2.5rem;
    width: 2.5rem;

    fill: var(--color-grey-dark-3);
  }
  &_notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    position: absolute;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 100px;
    top: 1.7rem;
    right: 1rem;

    //text center

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    padding: 0 1rem;
  }
  &_user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

////////////////////////////////////////////////
//SIDE NAVIGATION

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  &_item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  &_item::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--color-primary);
    transform: scaleY(0); // this will initially hide
    transition: all 0.2s, width 0.4s 0.2s, background-color 0.2s; // this simply say width coverd within 0.4s and the delay 0.2s

    // heres another problem aries. when before psuedo element seted the text goes down and animation comes top
    // to prevent this problem need to use z index and z index only works if we have a specific position
    // these following code need to set on link:visited area

    // position: relative;
    // z-index: 10;
  }

  &_item:hover::before,
  &_item--active::before {
    // active will be same as these code

    transform: scaleY(1); // when hover the before state will scale 1
    width: 100%;
  }
  &_item:active::before {
    background-color: var(--color-primary-light);
  }
  &_link:link,
  &_link:visited {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-grey-light-1);
    // display: block;
    text-transform: uppercase;
    padding: 1.5rem 3rem;

    // code probelm discribed on the top
    // heres another problem aries. when before psuedo element seted the text goes down and animation comes top
    // to prevent this problem need to use z index and z index only works if we have a specific position
    // these following code need to set on link:visited area

    position: relative;
    z-index: 10;
  }

  &_icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; // this will fill the color with parant color | which is var(--color-grey-light-1)
  }
}

////////////////////////////////////////////////
//LEGAL TEXT

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
  text-decoration: none;
}

////////////////////////////////////////////////
//GALLERY

.gallery {
  display: flex;
  &-photo {
    width: 100%;
  }
}

////////////////////////////////////////////////
//HOTEL OVERVIEW

.overview {
  display: flex;
  align-items: center;

  margin-top: -0.46rem;
  &-heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }
  &-stars {
    margin-right: auto; // that does is this mainly it spaces all the available space to the right
  }
  &-icon_star {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &-location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    &_icon {
      width: 1.75rem;
      height: 1.75rem;
      fill: var(--color-primary);
      margin-right: 0.5rem;
    }
  }
  &-rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-self: stretch; // for stretching the self item;
    padding: 0 2.25rem;

    &_count {
      font-size: 0.8rem;
      text-transform: uppercase;
    }
    &_avarage {
      font-size: 2.25rem;
      font-weight: 300;
    }
  }
}

///////////////////////////////////////////
/////BUTTON INLINE

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  span {
    margin-left: 3px;
    transition: all 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulse 1s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1 4 rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

///////////////////////////////////////////
/////PARAGRAPH

.paragraph:not(:last-child) {
  margin-bottom: 5rem;
}

///////////////////////////////////////////
/////LIST

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-light-2);
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  flex-wrap: wrap;

  &-item {
    display: inline-block;
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &-item::before {
    content: " ";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;

    // these following code for older browsers
    //it has a problem of changing the background color of the svg icon | we can't change this

    // background-image:url(../img/chevron-thin-right.svg);
    // background-size: cover;

    // these following code for newer browsers
    // we can solve this by doing with mask

    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.);
    mask-size: cover;
  }
}

///////////////////////////////////////////
/////RECOMMEND

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;
  &-count {
    margin-right: auto;
  }

  &-friends {
  }

  &-photo {
    cursor: pointer;
    box-sizing: content-box; // includes all the height width value
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}

//////////////////////////////////////////
//////REVIEW

.review {
  background-color: #fff;
  box-shadow: 0 1 4 rgba(0, 0, 0, 0.25);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative; //for quotation mark
  overflow: hidden;

  &-text {
    margin-bottom: 3rem;

    z-index: 1000;
    position: relative; // z index does not work without a position.
  }
  &-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }
  &_user-box {
    margin-right: auto;
  }
  &_user-name {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-grey-dark-3);
  }
  &_user-date {
  }
  &-rating {
    font-size: 2.4rem;
    color: var(--color-primary);
  }

  &::before {
    content: "\201C"; // css entites | ref:https://css-tricks.com/snippets/html/glyphs/
    position: absolute;
    top: -2.75rem;
    left: -0.5rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1; //to set this back
  }
}
