////////////////////////////////////////////////
//LOGO

.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

////////////////////////////////////////////////
//SEARCH
.search {
  flex: 0 0 40%;

  display: flex; // this makes an items as a container
  justify-content: center;
  align-items: center;

  &-input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: var(--color-grey-light-2);
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &:--webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &-input:focus + &-button {
    background-color: var(--color-grey-light-3);
  }
  &-button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &-icon {
    height: 2rem;
    width: 2rem;

    fill: var(--color-grey-dark-3);
  }
}

////////////////////////////////////////////////
//USER NAVIGATION
.user-nav {
  display: flex;
  &_icon-box {
  }
  &_icon {
    height: 2.5rem;
    width: 2.5rem;
  }
  &_notification {
  }
  &_user {
  }
  &_user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }
  &_user-name {
  }
}
