.container {
  max-width: 120rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  margin: 8rem auto;

  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0; // we dont want color-primary margin ;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 8rem;
  background-color: white;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;

  // we want the sidebar to position vertically when bp is 900px;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  };
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; //flex : flex-grow flex-srink flex-basis;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-view {
  // test
  // height: 80rem; // removed height bcz we dont want to stretch the content
  flex: 1; // it will contain rest of the width which is 82%;
}
.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2);

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
  };
}
.description {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  };
}
::selection {
  background-color: var(--color-primary);
  color: #fff;
}
.user-review {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
