.container {
  max-width: 120rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  margin: 8rem auto;

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 8rem;
  background-color: white;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
    display:flex;
}
.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%; //flex : flex-grow flex-srink flex-basis;
}
.hotel-view {
    background-color: orange;
    flex: 1; // it will contain rest of the width which is 82%;
}